@keyframes itemAppear {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes validation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes loader__rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes loader {
  100% {
    opacity: 0;
    z-index: -10;
  }
}
.loader {
  position: fixed;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  background-color: rgba(255, 255, 255, 0.9);
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: loader 0.01s;
  animation-delay: 1.75s;
  animation-fill-mode: both;
}
.loader .fas {
  color: #9356dc;
  font-size: 5rem;
  animation: loader__rotate 3s;
  animation-iteration-count: 1;
}

@keyframes itemAppear {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes validation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes loader__rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes loader {
  100% {
    opacity: 0;
    z-index: -10;
  }
}
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto", sans-serif;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

#container {
  width: 100%;
  margin: auto;
}

.btn {
  padding: 16px 25px;
  background: linear-gradient(-15deg, rgb(147, 86, 220) 3%, rgb(255, 121, 218) 90%);
  background-color: #9356dc;
  border-radius: 30px;
}
.btn a {
  color: white;
  font-size: 15px;
  font-weight: 500;
  align-items: center;
}
.btn:hover {
  cursor: pointer;
  transform: scale(1.05);
  transition: 0.3s ease-in-out;
}

.menu__btn {
  height: 2rem;
  width: 2rem;
  background-color: transparent;
  border: transparent 0 solid;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  position: relative;
  background-color: rgb(0, 0, 0);
}
.menu__btn:hover::before {
  opacity: 1;
}
.menu__btn::before {
  content: "";
  opacity: 0;
  transition: 0.5s;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: linear-gradient(0deg, #9356dc 0%, #ff79da 100%);
}
.menu__like {
  transition-duration: 0.25s;
  background-color: #f6f6f6;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  mix-blend-mode: lighten;
}
.menu__btn:hover .menu__like--noBg {
  opacity: 0;
}

.header {
  text-align: center;
  display: block;
  position: relative;
}
.header__logo {
  margin-top: 4px;
  padding: 8px;
  justify-content: center;
}
.header__location {
  padding: 3px;
  border-top: solid 1px rgba(221, 221, 221, 0.8666666667);
  background-color: #eaeaea;
  box-shadow: 0px 2px 3px -2px #bebebe inset;
}
.header__input {
  border: none;
  background-color: transparent;
  color: #000;
  font-size: 13px;
  margin: 10px;
  font-family: "FontAwsome", "Roboto", sans-serif;
  outline: none;
}
.header__arrow .fas {
  position: absolute;
  top: 18px;
  left: 15px;
  font-size: 30px;
  color: rgb(0, 0, 0);
}

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: rgb(245, 245, 245);
}
.hero__content {
  width: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.hero__title {
  max-width: 80%;
  font-size: 1.5rem;
  font-weight: 800;
  margin: 40px 0 10px 0;
  color: black;
}
.hero__subtitle {
  margin: 0 15px 10px;
  max-width: 100%;
}
.hero__button {
  margin: 15px 15px 40px;
  box-shadow: 0 5px 8px rgba(0, 0, 0, 0.1803921569);
}
.hero__image {
  max-width: 100%;
  max-height: 32rem;
  width: 100%;
  height: 100%;
  object-fit: cover;
  height: 40vh;
}

main .fonctionnements {
  padding-bottom: 30px;
}
main .fonctionnements__title {
  margin-left: 6%;
  margin-bottom: 30px;
  margin-top: 30px;
  padding-top: 25px;
  font-size: 1.7rem;
  font-weight: 900;
}
@media only screen and (min-width: 992px) {
  main .fonctionnements__title {
    text-align: center;
  }
}
main .fonctionnements .step {
  position: relative;
  background-color: whitesmoke;
  border-radius: 15px;
  width: 88%;
  height: auto;
  margin: 20px auto 20px auto;
  box-shadow: 0 5px 8px rgba(0, 0, 0, 0.1803921569);
}
main .fonctionnements .step__content {
  display: flex;
  justify-content: flex-start;
  padding: 25px 0;
  margin-bottom: 15px;
  align-items: center;
}
main .fonctionnements .step__number {
  position: absolute;
  padding: 2px 6px;
  background-color: #9356dc;
  border-radius: 100%;
  color: white;
  top: 20px;
  left: -10px;
  font-size: 1.05rem;
  text-align: center;
}
main .fonctionnements .step .fas {
  margin-left: 30px;
  font-weight: bold;
}
main .fonctionnements .step__text {
  margin-left: 30px;
  font-weight: bold;
  color: black;
}
main .fonctionnements .step:hover {
  background-color: rgba(240, 228, 255, 0.9058823529);
  cursor: pointer;
  transition: 0.3s ease-in-out;
}
main .fonctionnements .step:hover .fas {
  color: #9356dc;
}
main .restaurants {
  background-color: rgb(245, 245, 245);
  padding-bottom: 20px;
  padding-top: 20px;
}
main .restaurants__title {
  font-size: 1.7rem;
  font-weight: 900;
  margin-left: 6%;
  margin-bottom: 30px;
  letter-spacing: 1;
  margin-top: 50px;
}
@media only screen and (min-width: 992px) {
  main .restaurants__title {
    text-align: center;
    margin: 15px;
  }
}
@media only screen and (min-width: 992px) {
  main .restaurants .cards {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
main .restaurants .resto {
  position: relative;
  display: block;
  width: 88%;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  border-radius: 15px;
  margin-bottom: 30px;
  height: 250px;
  overflow: hidden;
}
main .restaurants .resto__image img {
  width: 100%;
  border-radius: 14px 14px 0px 0px;
  max-height: 250px;
  object-fit: cover;
  margin-top: -55px;
}
main .restaurants .resto__content {
  color: rgb(0, 0, 0);
  padding: 12px;
  margin-top: -5px;
  
}
main .restaurants .resto__new {
  position: absolute;

  padding:  5px 15px;
  top: 20px;
  background-color: #99e2d0;
  color: #369658;
  text-align: center;
  right: 20px;
  font-size: 17px;
  font-weight: 900px;
  border-radius: 5px;
}
main .restaurants .resto__heart {
  position: absolute;
  bottom: 20px;
  right: 20px;
  font-size: 30px;
}
main .restaurants .resto__heart .fa-2x {
  font-size: 2rem;
}
main .restaurants .resto__heart .menu__like {
  background-color: #fff;
}

.menu {
  padding-bottom: 25px;
  margin-bottom: 30px;
  margin-top: -2rem;
  border-radius: 2rem 2rem 0 0;
  background-color: #f6f6f6;
  z-index: 1;
  position: relative;
}
@media only screen and (min-width: 992px) {
  .menu {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
  }
}
.menu__header {
  padding: 1rem 2rem 0 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media only screen and (min-width: 992px) {
  .menu__header {
    justify-content: center;
  }
}
.menu__title {
  font-family: "Shrikhand";
  font-size: 1.5rem;
  margin-left: 15px;
}
@media only screen and (min-width: 992px) {
  .menu__title {
    margin-right: 20px;
  }
}
.menu .submenus {
  display: grid;
}
@media only screen and (min-width: 992px) {
  .menu .submenus {
    grid-template-columns: repeat(1, 1fr);
    column-gap: 1rem;
  }
}
.menu .submenus .submenu {
  max-width: 100%;
  overflow: hidden;
  padding: 0 1rem;
}
.menu .submenus .submenu__title {
  text-transform: uppercase;
  position: relative;
  padding-bottom: 0.5rem;
  font-weight: normal;
  padding-top: 15px;
  padding-left: 15px;
}
.menu .submenus .submenu__title::after {
  content: "";
  width: 3rem;
  height: 0.25rem;
  background-color: #99e2d0;
  position: absolute;
  top: 38px;
  left: 1px;
}
.menu .submenus .menuItem {
  background-color: white;
  padding: 1rem;
  display: flex;
  border-radius: 0.75rem;
  margin: 1rem 0;
  box-shadow: 0.25rem 0.25rem 1rem rgba(0, 0, 0, 0.1);
  overflow: hidden;
  cursor: pointer;
  animation: itemAppear 0.6s;
  animation-timing-function: cubic-bezier(0.5, 1.58, 0.34, 0.82);
  animation-fill-mode: both;
  transform: scale(0);
  max-width: 100%;
}
.menu .submenus .menuItem__header {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden !important;
  flex: 1;
}
.menu .submenus .menuItem__title {
  margin: 0;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.menu .submenus .menuItem__description {
  margin: 0;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.menu .submenus .menuItem__price {
  font-weight: bold;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding-left: 0.5rem;
}
.menu .submenus .menuItem__confirmation {
  background-color: #99e2d0;
  margin: -1rem -5rem -1rem 1rem;
  width: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  transition-duration: 0.5s;
}
.menu .submenus .menuItem__wrapIcon {
  height: 1.6rem;
  width: 1.6rem;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100px;
  transform: rotate(180deg);
  transition-duration: 0.5s;
}
.menu .submenus .menuItem__icon {
  color: #99e2d0;
}
.menu .wrapBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.75rem 0.5rem !important;
  width: 150px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 8px;
}

.menuItem:hover .menuItem__confirmation {
  margin-right: -1rem;
}

.menuItem:hover .menuItem__wrapIcon {
  transform: rotate(0);
  animation: validation 1400ms ease-in-out;
}

.footer {
  background-color: rgb(65, 63, 63);
  /*padding-left: 6%;*/
  padding-top: 24px;

  
}

.footer__container {
  width: 88%;
  margin-left: auto;
  margin-right: auto;
}

@media only screen and (min-width: 768px) {
  .footer {
    margin-left: auto;
    margin-right: auto;
  }
}

@media only screen and (min-width: 992px) {
  .footer {
    /* display: flex;*/
    /*justify-content: space-around;*/
    padding-left: 0px;
  }
  .footer__container {
    width: 88%;
    margin-left: auto;
    margin-right: auto;
  }
}
.footer__title {
  font-size: 20px;
  font-family: "shrikhand";
  color: white;
}
.footer__content {
  margin-top: 15px;
  padding-bottom: 5px;
}
@media only screen and (min-width: 992px) {
  .footer__content {
    margin-top: 15px;
  }
}
.footer__content a {
  color: white;
  transition: color 0.2s ease-in-out;
}
.footer__content a:hover {
  color: #9356dc;
}
.footer__content__subtitle {
  margin-bottom: 10px;
  margin-right: 30px;

}
@media only screen and (min-width: 992px) {
  .footer__content__subtitle {
  margin-right: 20px;
  }
}
.footer__content .fas {
  margin-right: 20px;
  color: white;
}
.footer__content .icon {
  font-size: 13px;
  margin-right: 5px;
}
/*# sourceMappingURL=main.css.map */
